<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Soundcloud uploader</title>

	</head>
	<body id="main" onload="">
		<h1>Soundcloud uploader</h1>
		<form action="/" method="post" accept-charset="utf-8" enctype="multipart/form-data" >
			<input type="file" name="file" />
      <div id="sendbutton">
        <input type="submit" value="Send &rarr;">
      </div>
		</form>
	</body>
</html>
