!!! XML
!!! Transitional
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en' }
  %head
    %title
      SoundCloud Uploader
    %link{ :href => "jqueryui/css/ui-darkness/jquery-ui-1.8.2.custom.css", :rel => :stylesheet, :type => "text/css" }
    %link{ :href => "views/style.css", :rel => :stylesheet, :type => "text/css" }
    %script{ :type => "text/javascript", :src => "http://code.jquery.com/jquery-1.4.2.js" }
    %script{ :type => "text/javascript", :src => "jqueryui/js/jquery-ui-1.8.2.custom.min.js" }
    %script{ :type => "text/javascript", :src => "scripts/javascript.js" }
  %body
    %h1#header
      SoundCloud uploader
    %form#fileform{ :action => :files, :method => :post, :target => :upload_iframe,
        :enctype => "multipart/form-data", "accept-charset" => "utf-8" }
      %p
        %input.opaque#title{ :type => :text, :name => :title, :value => "Enter the file title here" }
        %input.hidden#sid{ :type => :text, :name => :sid, :readonly => :readonly }
        %input#file{ :name => :file, :type => :file }
        %input#sendbutton{ :type => :submit, :value => 'Upload' }
    .hidden#progressbar
    %iframe.hidden#upload_iframe{ :name => "upload_iframe" }
    .dialog#dialog_success{ :title => 'Upload complete' }
      %div
        %span.ui-icon.ui-icon-circle-check
        File succesfully uploaded to
        %div#path
      %div
        Here's a link to it:
        %div#url
          %a{ :href => '#', :target => '_' }
    .dialog#dialog_error{ :title => 'Upload failed!' }
      %div
        %span.ui-icon.ui-icon-alert
        Oops, something went wrong!
        %span#error
