!!! XML
!!! Transitional
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en' }
  %head
    %title
      SoundCloud uploader in HAML
    %link{ :href => "views/style.css", :rel => :stylesheet, :type => "text/css" }
    %script{ :type => "text/javascript", :src => "scripts/javascript.js" }
    %script{ :type => "text/javascript", :src => "http://code.jquery.com/jquery-1.4.2.js" }
  %body
    %h1#header
      SoundCloud uploader
    %form#fileform{ :action => :files, :method => :post,
        :enctype => "multipart/form-data", "accept-charset" => "utf-8" }
      %p
        %input#title{ :type => :text, :name => :title, :value => "Enter the file title here" }
        %input#status{ :type => :text, :name => :status, :readonly => :readonly }
        %input#file{ :name => :file, :type => :file }
        %input.hidden#sid{ :type => :text, :name => :sid, :readonly => :readonly }
        %input#sendbutton{ :type => :submit }
    .hidden#progressbar_div
      %img#progressbar{ :src => '/images/progressbar.gif', :alt => :progressbar }
    %iframe#upload_iframe{ :name => "upload_iframe" }
