@header_color:  #66CDAA;
@title_color:   #888888;

body {
  background-color: gray;

  h1#header {
    font-family: "Segoe UI", "Arial", sans-serif;
    /* alternative layout
    position: absolute;
    top: 200px;
    */
    color: @header_color;
  }

  #fileform {
    .opaque {
      color: @title_color;
    }

    .blackened {
      color: black;
    }

    #status, #title {
      width: 50%;
    }

  }

  input {
    display: block;
  }

  .hidden {
    display: none;
  }

  #dialog {
    p span {
      float: left;
      margin: 0 7px 70px 0;
    }
  }

  .ui-widget {
   font-size: 11px;
  }
}
